.cart{
  height: auto;
  overflow-y: scroll;
}
ol, ul {
    padding-right: 2rem;
  }
  .cart__list ul{
  
    margin-left: 0 !important;
  }
  
  .cart__list{
    padding: 0 !important;
    height: 55rem;
    margin-left: 0 !important;
  }
  
 
    
  .calc-cont{
    display: flex;
    align-items: start;
    margin-top: 4rem;
    margin-left: 1.8rem;
  }

  
  
    .cart-price{
      font-size: 2.8rem !important;
  }


  .cart__empty__body{
    background: #e6e6e6;
    padding: 2rem 1rem;
    border-top: 3px solid red;
  
  }
  .cart__empty__body h5{
    font-size: 1.8rem !important;
  
  }


  @media screen and (min-width: 575px){ 
    .calc-cont{
      display: flex;
      align-items: end;
      margin-right: 1.8rem;
    }
  
    
  }
  @media screen and (min-width: 992px){ 
    .cart__list{
      padding: 2rem !important;
      height: 55rem;
      margin-left: 0 !important;
    }
    
  }