:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-border: #ccc;
    --border-radius: 30px;
  }

  .cartItem{
    list-style: none;
   
  }
.cartItem__price{
   font-size: 1.8rem;
  }

.cartItem__header img{
    max-width: 200px;
    height: 200px;
    margin: 1.3rem;
    margin-bottom: 2rem;
    border: 1px solid #e5e2e2;
    object-fit: cover;
}

.cartItem__title{
    font-size: 1.6rem !important;
    font-weight: 300;
}

.cartItem-icon{
    font-size: 1.8rem;
    color: goldenrod;
}

.cartItem-review{
    font-size: 1.2rem !important;
}
.curtItem__price__main{
    font-size: 2rem ;
    color: var(--color-primary) !important;
}
.cartItem-stock-main{
    font-size: 1.4rem;

}
.cartItem-stock{
    color: var(--color-primary);
}
.cartItem__para{
    font-size: 1.3rem !important;
}

.cartItem__sale{
 
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   width: 50px;
   height: 50px;
   background: coral;
   border-radius: 50%;
   color: #fff;
 
}
.cartItem__sale h4{
    color: #fff ;
}

.delete{
    font-size: 1.4rem;
    border: 0;
    outline: 0;
}
.delete-span{
    font-size: 1.5rem;
}

@media screen and (min-width: 992px){ 
    .cartItem__title{
        font-size: 2.3rem !important;
        font-weight: 600;
    }
    .cartItem__header img{
        max-width: 200px;
        height: 200px;
        margin: 1.3rem;
        margin-bottom: 2rem;
        border: 1px solid #e5e2e2;
    }
    
}