.showcase{
    background: #e6e8ea;
    height: 20rem;
    background-image: url('../../images/car.jpg') ;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center ;
    background-size: cover; 
}
.showcase h2{
    font-size: 3rem;

}
.showcase h5{
    font-size: 1.6rem;
}

.about__body {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    
  }
  
  .about__image img {
    /* flex: 1 1 300px; */
    max-width: 400px;
    margin: auto;
  }
  
  .about__text {
    /* flex: 1 1 300px;  */
     /* margin: 10px; */
    max-width: 400px;
    margin: auto;
  }
  .about__text h2{
    font-size: 2.5rem;
    font-weight: 900 !important;
    margin: 2rem 0;

  }
  
  @media (min-width: 768px) {
    .about__body {
        margin-top: 6rem;
        flex-direction: row;
     
      }
      .about__text {
        /* flex: 1 1 300px;  */
         /* margin: 10px; */
        max-width: 500px;
        margin: auto;
      }
    .about__text h2{
        font-size: 3.5rem;
        margin-left: 20px;
    
      }
    .about__text p{
        font-size: 1.7rem;
        margin-left: 20px;
      }
  }
  
  @media (min-width: 992px) {
    .about__text h2{
        margin-left: 0;
    
      }
    .about__text p{
        margin-left: 0;
      }
  }