/*features*/

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --border-radius: 30px;
}


.features{
    max-width: 600px !important;
    margin: auto !important;
    margin-top: 5rem !important;
  }
  .feature__header{
    color: #0a50b0 !important;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
  
  .features h1{
    font-size: 2.5rem !important;
    font-weight: 900 !important;
  }

  .lab{
    color: #0a50b0;
  }
  
  @media  screen and (min-width: 992px) {
    .features{
        margin-top: 12rem !important;
    }
    .feature__service{
      font-size: 2.5rem !important;
    }
    .feature__header{
      color: #0a50b0 !important;
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
    }
    
      
  .features h1{
    font-size: 3.5rem !important;
    font-weight: 900 !important;
  }

    
  }